<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="lastName">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
        <p th:object="${user}"><select size="3" multiple name="roles[]">
            <option disabled>Role: </option>
            <option value="ADMIN">ADMIN</option>
            <option selected value="USER">USER</option>
        </select></p>
        <p><input th:field="*{roles}" id="role" type="submit" value="Отправить"></p>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>